.flex-parent {
  display: flex;
  box-sizing: border-box;
  padding: 30px;
}

#satu {
  flex-grow: 1;
}

#dua {
  flex-grow: 3;
}

#tiga {
  flex-grow: 1;
}

aside a {
  display: block;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  color: black;
  line-height: 30px;
}

.active {
  font-weight: 900;
}

#featured {
  width: 143px;
  height: max-content;
  align-self: flex-end;
  box-sizing: border-box;
  padding-left: 20px;
  border-left: 1px solid #E7F0F2;
}

#filter {
  width: 143px;
  height: max-content;
  align-self: flex-start;
  box-sizing: border-box;
  padding-right: 20px;
  border-right: 1px solid #E7F0F2;
  text-align: right;
}

a:hover {
  font-weight: 900;
}

.flex-child{
  width: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.pagination {
  height: 30px;
  margin: 50px auto;
  justify-content: center;
}

.pagination a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  letter-spacing: 1em;
  align-self: flex-end;
}