.flex-parent {
  display: flex;
}

aside a {
  display: block;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
  color: black;
  line-height: 30px;
}

.active {
  font-weight: 900;
}

#featured {
  width: 143px;
  height: max-content;
  align-self: flex-end;
  margin-left: 10px;
  box-sizing: border-box;
  padding-left: 20px;
  border-left: 1px solid black;
}

#filter {
  width: 143px;
  height: max-content;
  align-self: flex-start;
  margin-right: 10px;
  box-sizing: border-box;
  padding-right: 20px;
  border-right: 1px solid black;
  text-align: right;
}

a:hover {
  font-weight: 900;
}

.flex-child {
  /* width: 100px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.pagination {
  border-top: 0.5px solid black;
  width: 446px;
  height: 30px;
  margin: 51px auto;
  display: flex;
  justify-content: center;
}

.pagination a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  letter-spacing: 1em;
  align-self: flex-end;
}
