* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 39px 76px;
}

header {
  width: 415px;
  height: 44px;
  font-family: 'Ubuntu' sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 34px;
}

form {
  width: 415px;
  height: 44px;
  display: flex;
  justify-content: space-between;
}

label {
  display: flex;
  align-items: center;
  font-size: 12px;
  border-bottom: 0.5px solid #C4C4C4;
}

input[type=search] {
  border: none;
  text-align: center;
}

.flex-parent {
  display: flex;
}

#satu {
  flex-grow: 1;
}

#dua {
  flex-grow: 3;
}

#tiga {
  flex-grow: 1;
}

aside a {
  display: block;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  color: black;
  line-height: 30px;
}

.active {
  font-weight: 900;
}

#featured {
  width: 143px;
  height: max-content;
  align-self: flex-end;
  box-sizing: border-box;
  padding-left: 20px;
  border-left: 1px solid #E7F0F2;
}

#filter {
  width: 143px;
  height: max-content;
  align-self: flex-start;
  box-sizing: border-box;
  padding-right: 20px;
  border-right: 1px solid #E7F0F2;
  text-align: right;
}

a:hover {
  font-weight: 900;
}

.flex-child{
  width: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.card {
  background-color: #E7F0F24D;
  width: 173px;
  height: 116px;
  display: flex;
  align-items: flex-end;
  margin: 10px;
  box-sizing: border-box;
  padding: 15px;
  font-size: 10px;
  font-family: 'Ubuntu', sans-serif;
}

.card b {
  font-size: 12px;
  font-family: 'Ubuntu', sans-serif;
  display: block;
}

.pagination {
  border-top: 0.5px solid #E7F0F2;
  width: 446px;
  height: 30px;
  margin: 51px auto;
  display: flex;
  justify-content: center;
}

.pagination a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  letter-spacing: 1em;
  align-self: flex-end;
}

footer {
  max-width: max-content;
  max-height: max-content;
  margin: 10px auto;
}