.wrap {
  display: flex;
  margin: 10vh;
}

.wrap .left .arrow-parent {
  display: flex;
}

.wrap .left .arrow-parent .arrow-child {
  background: black;
  width: 7%;
  height: 48px;
  margin: 4px;
  position: relative;
  bottom: 52px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap .mid h1 {
  font-family: "Ubuntu", sans-serif;
}

.wrap .mid h2 {
  font-family: "Roboto", sans-serif;
}

.wrap .mid span {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: line-through;
}

.wrap .mid p {
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.3);
  margin-top: 50px;
}

.wrap .mid select#size {
  font-weight: 900;
  border: none;
  margin: 27px 0;
}

.wrap .mid button {
  display: block;
  border: none;
  color: white;
  background-color: black;
  box-sizing: border-box;
  padding: 10px;
}

.wrap .right {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  text-align: right;
  box-sizing: border-box;
}

.wrap .right .shop a {
  border-right: 1px solid #e7f0f2;
  box-sizing: border-box;
  padding-right: 15px;
  text-decoration: none;
  color: black;
  display: block;
}

.wrap .right .for p {
  color: rgba(0, 0, 0, 0.55);
}

@media screen and (max-width: 1024px) {
  .wrap {
    display: flex;
    flex-direction: column;
  }

  .responsive {
    width: 100%;
    max-width: 525px;
    height: auto;
  }

  .wrap .mid button {
    display: inline;
    margin: 50px;
  }
}
