.wrapper-productpage {
  display: flex;
  margin: 10vh;
}

.wrapper-productpage .left .arrow-parent {
  display: flex;
}

.wrapper-productpage .left .arrow-parent .arrow-child {
  background: black;
  width: 7%;
  height: 48px;
  margin: 4px;
  position: relative;
  bottom: 55px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-productpage .mid h1 {
  font-family: "Ubuntu", sans-serif;
}

.wrapper-productpage .mid h2 {
  font-family: "Roboto", sans-serif;
}

.wrapper-productpage .mid span {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: line-through;
}

.wrapper-productpage .mid p {
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.3);
  margin-top: 25px;
}

.wrapper-productpage .mid select#size {
  font-weight: 900;
  font-size: larger;
  border: none;
  margin: 40px 0;
}

.wrapper-productpage .mid button {
  display: block;
  border: none;
  color: white;
  background-color: black;
  box-sizing: border-box;
  padding: 10px;
}

.wrapper-productpage .right {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  text-align: right;
  box-sizing: border-box;
}

.wrapper-productpage .right .shop a {
  border-right: 1px solid black;
  box-sizing: border-box;
  padding-right: 15px;
  text-decoration: none;
  color: black;
  display: block;
}

.wrapper-productpage .right .for p {
  color: rgba(0, 0, 0, 0.55);
}

@media screen and (max-width: 1024px) {
  .wrapper-productpage {
    display: flex;
    flex-direction: column;
  }

  .responsive {
    width: 100%;
    max-width: 525px;
    height: auto;
  }

  .wrapper-productpage .mid button {
    display: inline;
    margin: 50px;
  }
}
