.header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  margin-top: 25px;
}

.header h2 {
  font-size: 40px;
  cursor: pointer;
}

.header form {
  max-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
}

.header form input[type="search"] {
  border: none;
}

.header form label {
  border: none;
}

.header .keranjang {
  display: flex;
  align-items: center;
  background-color: slategray;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 15px;
  cursor: pointer;
}

.header .keranjang img {
  width: 40px;
  height: 40px;
}

.header .keranjang span {
  font-size: 5vmin;
}
