.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  margin-top: 25px;
}

.header h2 {
  font-size: 40px;
}

.header form {
  max-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
}

.header form input[type=search] {
  border: none;
}

.header form label {
  border: none;
}