.cardproduct {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.content {
  max-width: 300px;
  height: auto;
  margin: 10px 0;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  padding-bottom: 10px;
}

.content img {
  width: 60%;
  height: auto;
}

.content p {
  font-size: large;
  font-weight: bold;
  margin: 0;
}

.content button {
  background: black;
  color: white;
  box-sizing: border-box;
  border: none;
  padding: 5px 15px;
}
