.card-parent {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.cardhome {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 15px;
  width: 215px;
  height: 114px;
  background-color: black;
  color: white;
  margin: 0 0 20px 25px;
}

.cardhome p {
  font-size: 9px;
}

.cardhome span {
  font-size: 7px;
}
